@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Josefin Sans", sans-serif;
}
body {
height: 100vh;
overflow: hidden;
background: linear-gradient(50deg, #105e6f, #191978);
}
/* .main {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: solid;
width: 70%;
margin: 50px auto;
padding: 200px;
border-radius: 12px;
background: rgba(252, 255, 255, 0.181);
box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border-radius: 10px;
border: 1px solid rgba(255, 255, 255, 0.18);
} */
.container {
/* background-color: #19376d; */
background: rgba(252, 255, 255, 0.181);
padding: 100px;
max-width: 600px;
margin: auto;    
margin-top: 80px;
border-radius: 10px;
}
label {
font-size: 1.5em;
color: #ffffff;
}  
input[type='text'],
input[type='lang'] {
width: 100%;
padding: 15px;
border: none;
border-radius: 7px;
margin-bottom: 20px;
margin-top: 10px;
font-size: 15px;
outline: none;
font-size: 1.3em;
}
#btn {
background-color: #102d56;
color: #fdf2ff;
padding: 12px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
font-size: 20px;
transition: all 0.4s ease-in-out;
margin-top: 30px;
}

#btn:hover {
background-color: #1b3c7a;
}
#lang {
background-color: #ffffff;
color: #000000;
padding: 12px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100%;
font-size: 20px;
transition: all 0.4s ease-in-out;
margin-top: 10px;
}